
.about-container a {
  position: relative;
  perspective: 750px;
  display: inline-block;
  padding-top: 7px;
}

.about-container .active {
  color: deepskyblue;
}

.about-container a:hover {
  color: tomato;
}

.about-header {
  position: relative;
  max-width: 840px;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 0;
  z-index: 9;
}

.about-header .top-heading {
  position: relative;
  max-width: 850px;
}

/* .about-heading:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 25px;
  background: linear-gradient(to top, rgba(255, 0, 0, 0.5) 10%, rgba(255, 99, 71, 0.9) 20%, transparent 75%);
} */

.about-header .header-contact-link-box {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100px;
  margin: 15px auto;
}

.about-header .header-contact-link-box a {
  min-width: 30px;
  width: 30px;
  height: 30px;
  margin: auto;
  background: none;
  box-shadow: none;
  filter: drop-shadow(1px 1px 1px rgba(0, 191, 255, 0.9));
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.99));
  border-bottom: 1px solid transparent;
}

.about-header .header-contact-link-box a:hover {
  border-bottom-color: rgba(0, 191, 255, 0.7);
}

.about-header .header-contact-link-box img {
  width: 100%;
}

.quote-box {
  position: fixed;
  top: 50%;
  right: 50%;
  bottom: 50%;
  left: 50%;
  width: calc(100% -20px);
  margin: 0 auto;
  padding: 25px 10px;
  background:rgba(0, 0, 10, 0.9);
  transition: all 0.7s ease-in-out;
  opacity: 0;
  overflow: hidden;
  z-index: 999;
  backdrop-filter: blur(4px);
}

.open-quote-box {
  top: 98px;
  right: 0;
  bottom: 0px;
  left: 0;
  opacity: 1
}

.quote-display {
  position: relative;
  cursor: pointer;
  max-width: 788px;
  margin: auto;
  padding: 25px;
  padding-bottom: 42px;
  padding-left: 25px;
  background:rgba(0, 0, 10, 0.9);
  border-bottom: 2px solid rgba(0, 191, 255, 0.7);
}

.quote-close-btn {
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bolder;
  text-shadow: 1px 1px 0 rgba(0, 0, 10, 0.9);
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background: tomato;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.95);
}

.quote-display .bio-heading {
  border: none;
  margin-top: 0px;
  max-width: 150px
}

.quote-heading {
  color: tomato;
  font-size: 1.1rem;
  max-width: 600px;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-left: 5px;
}

.quote,
.desert-island-display {
  position: relative;
  text-align: justify;
  font-weight: bolder;
  font-size: 1.1rem;
  color: rgba(0, 0, 50, 0.95);
  padding: 15px;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 4px 4px 0 0;
}

.glance-display {
  cursor: default;
}

.desert-island-display {
  max-height: calc(100vh - 275px);
  overflow-y: scroll;
}

.quote::before {
  position: absolute;
  margin-left: -10px;
  content: '"';
}

.quote::after {
  content: '"';
}

.citation {
  float: right;
  color: rgba(0, 191, 255, 0.9);
  font-size: 1.1rem;
  margin-top: 5px;
}

.desert-island-box .quote-heading {
  max-width: 800px;
  padding-bottom: 10px;
}

.di-category {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  margin: 15px 5px 0 0;
}

.di-details {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: lighter;
  display: inline-block;
  width: calc(100% - 100px);
  margin: 0;
  padding-top: 3px;
}

.di-selections {
  list-style: circle;
  padding-left: 25px;
  margin-top: 10px;
}

.di-selection {
  line-height: 26px;
  margin: 5px auto;
}

.about-menu {
  position: fixed;
  top: 44px;
  width: 100%;
  margin: 0px auto;
  padding-top: 5px;
  padding-bottom: 5px;
  background:rgba(0, 0, 10, 0.95);
  border-bottom: 3px solid rgba(0, 191, 255, 0.7);
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
  z-index: 999;
  backdrop-filter: blur(4px);
}

.about-menu a {
  padding-top: 7px;
}

.bio,
.contact {
  color: white;
  max-width: 768px;
  margin: auto;
  padding: 25px;
  background: rgba(0, 0, 10, 0.9);
  border-bottom: 2px solid rgba(86, 145, 165, 1);
  box-shadow: 1px 1px 5px rgba(0, 191, 255, 0.1);
  backdrop-filter: blur(4px);
}

.bio {
  position: relative;
}

.contact {
  margin-bottom: 100px;
}

.contact-heading,
.bio-heading {
  color: rgba(0, 191, 255, 0.99);
  background: none;
}

.quote-display .desert-island-heading {
  max-width: 200px;
}

.bio h3 {
  color: rgba(0, 191, 255, 0.99);
}

.bio p {
  text-align: justify;
}

.bio ul {
  text-align: justify;
  padding-right: 30px;
  padding-left: 25px;
}

.bio li {
  color: tomato;
}

.bio ul li::before {
  content: "\2022";
  font-weight: bold;
  color: rgba(0, 191, 255, 0.99);
  display: inline-block; 
  width: 17px;
  margin-left: -17px;
}

.quote-btn,
.desert-island-btn {
  cursor: pointer;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 191, 255, 0.9);
  font-weight: bolder;
  position: absolute;
  top: 5px;
  width: 115px;
  height: 35px;
  background: rgba(245, 245, 255, 0.95);
  border-radius: 3px;
  border: 2px solid rgba(255, 255, 255, 1);
  box-shadow: 0 2px 0 rgba(0, 191, 255, 0.9) inset, 0 -2px 0 rgba(0, 191, 255, 0.9) inset;
  transition: all 0.4s ease-in-out;
}

.quote-btn {
  right: 5px;
}

.desert-island-btn {
  left: 5px;
}

.quote-btn:hover,
.desert-island-btn:hover {
  text-shadow: 0 1px 0 tomato;
  box-shadow: 0 2px 0 tomato inset, 0 -2px 0 tomato inset;
}

.my-logo {
  width: 100px;
  padding: 10px;
  margin: 35px auto;
  border-radius: 50%;
  background: deepskyblue;
}

.profile-pic {
  width: 75px;
  border-radius: 2px;
  border: 1px solid black;
  z-index: -9;
}

.exp-item {
  max-width: 1024px;
  padding: 25px;
  margin: 35px auto;
  color: white;
  background: rgba(0, 0, 10, 0.9);
  border-bottom: 1px solid rgba(0, 191, 255, 0.1);
  box-shadow: 1px 1px 5px rgba(0, 191, 255, 0.1);
  transition: all 0.4s ease-out;
  backdrop-filter: blur(4px);
}

.exp-item:hover {
  border-bottom: 1px solid rgba(0, 191, 255, 0.3);
  box-shadow: 1px 1px 5px rgba(0, 191, 255, 0.3);
}

.exp-title {
  color: rgba(0, 191, 255, 0.99);
}

.exp-description {
  text-align: justify;
  margin: 25px auto;
}

.exp-disclaimer {
  font-size: 1.25rem;
  font-weight: bolder;
  color: tomato;
  text-shadow: 1px 1px 0 rgba(0, 0, 50, 0.7);
  width: 200px;
  margin: auto auto 15px;
}

.exp-sub-disclaimer {
  font-weight: bolder;
}

.exp-date {
  color: tomato;
  font-family: 'Courier New', monospace;
  font-size: 1.25rem;
  font-weight: bolder;
}

.exp-bullets-heading {
  color: rgba(0, 191, 255, 0.99);
}

.exp-item ul {
  list-style: none;
  color: rgba(0, 191, 255, 0.9);
  text-align: left;
  list-style: disc;
  padding-left: 15px;
  margin: 35px auto;
}

.exp-item ul {
  color: tomato;
  max-width: 684px;
}

.exp-item ul li::before {
  content: "\2022";
  font-weight: bold;
  display: inline-block; 
  width: 17px;
  margin-left: -17px;
}

.exp-item ul li::before {
  color: rgba(0, 191, 255, 0.9);
}

.contact h3 {
  color: rgba(0, 191, 255, 0.9);
}

.my-email {
  color: rgba(0, 191, 255, 0.9);
  transition: all 0.3s ease-out;
}

.my-email:hover {
  color: white;
}

.contact form {
  display: flex;
  flex-flow: column;
  text-align: left;
  max-width: 420px;
  margin: auto;
}

.contact label {
  cursor: pointer;
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 42px;
  margin: 15px auto;
  background:rgba(250, 250, 255, 1);
  border-radius: 4px 4px 0 0;
  border: 2px solid rgba(0, 191, 255, 0.99);
  transition: all 0.4s ease-out;
}

.contact label:last-of-type {
  height: 142px;
  overflow-y: scroll;
}

.contact span {
  color: rgba(0, 0, 10, 0.9);
  font-weight: bolder;
  padding-top: 12px;
  padding-right: 5px;
  padding-left: 10px;
  background:rgba(250, 250, 255, 1);
  border-radius: 4px 0 0 0;
}

.contact input,
.contact textarea {
  flex-grow: 2;
  padding-left: 5px;
  background:rgba(250, 250, 255, 1);
  border-radius: 0 4px 0 0;
  border: none;
  outline: none;
}

.contact textarea {
  line-height: 1.5rem;
  padding-top: 10px;
}

.contact button {
  cursor: pointer;
  font-size: 1.25rem;
  width: 100%;
  height: 42px;
  margin: 15px auto 25px;
  padding-top: 8px;
  padding-bottom: 10px;
  color: deepskyblue;
  background:rgba(0, 191, 255, 0.1);
  outline: none;
  border-radius: 4px 4px 0 0;
  border: none;
  border-bottom: 2px solid rgba(0, 191, 255, 0.9);
  box-shadow: 3px 3px 5px rgba(0, 191, 255, 0.3) inset, -3px -3px 5px rgba(0, 191, 255, 0.3) inset;
  transition: all 0.4s ease-out;
}

.contact button:hover {
  color: tomato;
  background:rgba(255, 99, 71, 0.1);
  border-bottom: 2px solid rgba(255, 99, 71, 0.9);
  box-shadow: 3px 3px 5px rgba(255, 99, 71, 0.3) inset, -3px -3px 5px rgba(255, 99, 71, 0.3) inset;
}

.contact p {
  color: tomato;
}

.contact .error-box {
  color: red;
  max-width: 420px;
  margin: auto;
  list-style-type: none;
}

.contact .err-border {
  border: 2px solid red;
}

.props {
  display: flex;
  flex-flow: row wrap;
  max-width: 1500px;
  margin: auto;
}

.props h2 {
  width: 100%;
}

.props-txt-box {
  width: 100%;
  margin-bottom: 35px;
}

.props-txt {
  color: rgba(0, 0, 50, 0.9);
  font-weight: bolder;
  text-align: justify;
  width: calc(100% - 60px);
  padding: 25px;
  background: rgba(245, 245, 255, 0.5);
  border: 1px solid white;
  backdrop-filter: blur(4px);
}

.prop-box {
  color: white;
  max-width: 420px;
  margin: 25px auto;
  padding-left: 25px;
  padding-right: 25px;
  background:rgba(0, 0, 10, 0.9);
  border-bottom: 2px solid tomato;
  backdrop-filter: blur(4px);
}

.prop-info-box {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row-reverse; 
}

.prop-name {
  font-size: 1.25rem;
  font-weight: bolder;
  color:rgba(0, 191, 255, 0.99);
  width: 100%;
} 

.prop-role {
  font-weight: bolder;
  color: tomato;
  margin-left: 0px;
}

.prop-date {
  font-weight: bolder;
  color: tomato;
  margin-right: 0px;
}

.prop {
  font-weight: bolder;
  color: black;
  text-align: justify;
  padding: 10px;
  margin: 10px auto 25px;
  background: white;
  border-radius: 4px 4px 0 0;
  border-bottom: 3px solid rgba(0, 191, 255, 0.9);
}

.logo-box {
  width: 100%;
}

.thank-you-heading {
  max-width: 850px;
}
