
.curtain {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background:rgba(0, 0, 10, 1);
  animation: fadeOut 1s ease-in-out 0.02s forwards, eightySix 0.1s 1.2s forwards;
  z-index: 9;
}

.App {
  text-align: center;
}

.nav-container {
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 0 0 5px;
  background: rgba(0, 0, 10, 0.95);
  z-index: 999;
  backdrop-filter: blur(4px);
}

.nav-container a {
  text-transform: uppercase;
}

.App-header {
  position: relative;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: calc(100vh - 150px);
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #282c34;
  background-image: url('../img/wallpaper.png');
  background-repeat: repeat;
  transition: all 0.3s ease-in-out;
}

.App-header-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.home-header-logo-box {
  display: none;
}

.App-header h1 {
  text-shadow: 0 1px 0 tomato;
}

.App-header h2 {
  font-size: 2rem;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1);
}

.App-header-wrap h4 {
  font-size: 1.25rem;
  text-shadow: 0 1px 0 tomato;
}

.App-header-wrap h5 {
  font-size: 1rem;
}

.App-header-wrap h5 code {
  font-size: 1rem;
}

.header-contact-link-box {
  position: relative;
  perspective: 750px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 150px;
  margin: 25px auto;
}

.header-contact-link-box a {
  width: 33px;
  height: 33px;
  margin: auto;
}

.header-contact-link-box a:nth-of-type(1) {
  margin-top: 5px;
  height: 25px;
  padding-bottom: 5px;
}

.header-contact-link-box a:hover {
  border-bottom-color: tomato;
  filter: drop-shadow(2px 2px 2px tomato);
}

.header-contact-link-box img {
  width: 100%;
}

.rainbow {
  background-image: linear-gradient(to left, dodgerblue, deepskyblue, lightblue, deepskyblue, dodgerblue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.main-js-logo {
  background: white;
  border-radius: 2px;
  border-top: 1px solid white;
  border-left: 1px solid white;
  filter: drop-shadow(1px 1px 25px rgba(255, 217, 0, 0.9));
}

.down-arrow {
  position: absolute;
  bottom: 0px;
  left: 50%;
  content: '';
  width: 0;
  height: 0;
  margin-left: -25px;
  border: 25px solid transparent;
  border-top-color: deepskyblue;
  animation: scrollCall 2s ease-out infinite;
}

.home-profile-pic {
  display: none;
}

@keyframes scrollCall {
  0% {border-top-color: deepskyblue; bottom: 0px;}
  50% {border-top-color: tomato; bottom: 15px;}
  100% {border-top-color: deepskyblue; bottom: 0px;}
}

.top-heading {
  width: calc(100% - 10px);
  margin: 30px auto 15px;
  padding: 15px 0;
  background: rgba(245, 245, 255, 0.5);
  text-shadow: 1px 1px 0 rgba(250, 250, 250, 0.7);
  border-radius: 3px 3px 0 0;
  border: 1px solid white;
  backdrop-filter: blur(4px);
}

.wallpaper {
  position: fixed;
  top: 0;
  right: -200px;
  bottom: 0;
  left: -200px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 5%, rgba(245, 245, 255, 0.7) 5%, rgba(255, 255, 255, 0.95) 42%, rgba(255, 255, 255, 0.95) 95%, transparent 95%);
  transform: rotate(-25deg);
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5)) drop-shadow(-1px -1px 5px rgba(0, 0, 0, 0.3));
  z-index: -1;
}

@-moz-document url-prefix() {
  .wallpaper {
    background: rgba(255, 255, 255, 0.9);
  }
}

.banner {
  display: none;
}

.attributions-box {
  margin: 50px auto;
}

.attribution {
  font-size: 0.85rem;
  line-height: 2px;
}

.attribution a {
  margin-left: 0;
}

.not-found-heading {
  width: calc(100% - 20px);
  max-width: 1024px;
  margin-top: 75px;
}

.not-found p {
  font-size: 1.5rem;
  text-shadow: 0 1px 0 tomato;
  color: rgba(255, 255, 255, 0.9);
  margin: 25px auto 0;
}

.first {
  animation-delay: 0.5s;
}

.second {
  animation-delay: 1s;
}

.third {
  animation-delay: 1.5s;
}

.customDuration {
  animation-duration: 1.5s;
}

.fade-in {
  animation: fadeIn 1s ease-in-out forwards;
}

.fade-in-and-sixty-eight {
  animation: fadeIn 1s ease-in-out forwards, sixtyEight 0.1s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

.fade-out {
  animation: fadeOut 1s ease-in-out forwards;
}

.fade-out-and-eighty-six {
  animation: fadeOut 1s ease-in-out forwards, eightySix 1s ease-in-out forwards;
}

@keyframes fadeOut {
  0% {opacity: 1}
  100% {opacity: 0}
}

.eighty-six {
  animation: eightySix 1s ease-in-out forwards;
}

@keyframes eightySix {
  0% {display: block; z-index: 9;}
  100% {display: none; z-index: -9;}
}

.sixty-eight {
  animation: sixtyEight 0.1s ease-in-out forwards;
}

@keyframes sixtyEight {
  0% {display: none; z-index: -9;}
  100% {display: block; z-index: 9;}
}
