@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

/* font-family: 'Cinzel', serif;
font-family: 'Nunito', sans-serif; */

:root {

  /* Colors - R, G, B */ 
  --th-grn: 95, 207, 128;
  --th-grn-hvr: 35, 214, 86;
  --th-gry: 62, 71, 79;
  --th-wht: 250, 250, 250;

  --hdg-clr: rgb(var(--th-grn));
  --text-clr: rgb(var(--th-gry));
  --bg-wht: rgba(var(--th-wht), 0.9);
  --bg-lt: rgba(var(--th-gry), 0.1);
  --bg-dk: rgb(var(--th-gry));
  --bg-grn: rgb(var(--th-grn));
  --bdr-clr-lt: rgba(var(--th-wht), 0.9);
  --bdr-clr-dk: rgba(var(--th-gry), 0.7);
  --text-shd-lt: rgba(var(--th-wht), 0.9);
  --box-shd-mid: rgba(var(--th-gry), 0.3);
  
  /* Elements */
  --bdr-lt: 1px solid var(--bdr-clr-lt);
  --bdr-dk: 1px solid var(--bdr-clr-dk);
  --box-shd: 2px 2px 3px var(--box-shd-mid);
  --box-shd-ins: 1px 1px 3px var(--box-shd-mid) inset, 3px 3px 5px var(--box-shd-mid);
}

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cinzel', serif;
}

.nunito {
  font-family: 'Nunito', sans-serif;
}

code {
  font-family: 'Courier New', monospace;
}

p {
  max-width: 699px;
  margin: auto;
  line-height: 1.5rem;
}

a {
  display: inline-block;
  text-decoration: none;
  color: azure;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
  margin: 7px 10px;
  padding: 3px;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid transparent;
  transition: 0.4s ease-out;
}

a:hover {
  color: tomato;
  border-bottom-color: tomato;
}

.active {
  color: deepskyblue;
  border-bottom-color: deepskyblue;
}

ul {
  font-family: 'Courier New', monospace;
  list-style: none;
  padding-left: 0;
}

li {
  line-height: 1.35rem;
  margin: 10px auto;
}

body {
  background-color: rgba(31, 65, 255, 0.993);
  background-attachment: fixed;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='197' height='197' viewBox='0 0 200 200'%3E%3Cg fill='none' stroke='%2305fdff' stroke-width='0.6' %3E%3Crect x='-40' y='40' width='75' height='75'/%3E%3Crect x='-35' y='45' width='65' height='65'/%3E%3Crect x='-30' y='50' width='55' height='55'/%3E%3Crect x='-25' y='55' width='45' height='45'/%3E%3Crect x='-20' y='60' width='35' height='35'/%3E%3Crect x='-15' y='65' width='25' height='25'/%3E%3Crect x='-10' y='70' width='15' height='15'/%3E%3Crect x='-5' y='75' width='5' height='5'/%3E%3Crect width='35' height='35'/%3E%3Crect x='5' y='5' width='25' height='25'/%3E%3Crect x='10' y='10' width='15' height='15'/%3E%3Crect x='15' y='15' width='5' height='5'/%3E%3Crect x='40' width='75' height='75'/%3E%3Crect x='45' y='5' width='65' height='65'/%3E%3Crect x='50' y='10' width='55' height='55'/%3E%3Crect x='55' y='15' width='45' height='45'/%3E%3Crect x='60' y='20' width='35' height='35'/%3E%3Crect x='65' y='25' width='25' height='25'/%3E%3Crect x='70' y='30' width='15' height='15'/%3E%3Crect x='75' y='35' width='5' height='5'/%3E%3Crect x='40' y='80' width='35' height='35'/%3E%3Crect x='45' y='85' width='25' height='25'/%3E%3Crect x='50' y='90' width='15' height='15'/%3E%3Crect x='55' y='95' width='5' height='5'/%3E%3Crect x='120' y='-40' width='75' height='75'/%3E%3Crect x='125' y='-35' width='65' height='65'/%3E%3Crect x='130' y='-30' width='55' height='55'/%3E%3Crect x='135' y='-25' width='45' height='45'/%3E%3Crect x='140' y='-20' width='35' height='35'/%3E%3Crect x='145' y='-15' width='25' height='25'/%3E%3Crect x='150' y='-10' width='15' height='15'/%3E%3Crect x='155' y='-5' width='5' height='5'/%3E%3Crect x='120' y='40' width='35' height='35'/%3E%3Crect x='125' y='45' width='25' height='25'/%3E%3Crect x='130' y='50' width='15' height='15'/%3E%3Crect x='135' y='55' width='5' height='5'/%3E%3Crect y='120' width='75' height='75'/%3E%3Crect x='5' y='125' width='65' height='65'/%3E%3Crect x='10' y='130' width='55' height='55'/%3E%3Crect x='15' y='135' width='45' height='45'/%3E%3Crect x='20' y='140' width='35' height='35'/%3E%3Crect x='25' y='145' width='25' height='25'/%3E%3Crect x='30' y='150' width='15' height='15'/%3E%3Crect x='35' y='155' width='5' height='5'/%3E%3Crect x='200' y='120' width='75' height='75'/%3E%3Crect x='40' y='200' width='75' height='75'/%3E%3Crect x='80' y='80' width='75' height='75'/%3E%3Crect x='85' y='85' width='65' height='65'/%3E%3Crect x='90' y='90' width='55' height='55'/%3E%3Crect x='95' y='95' width='45' height='45'/%3E%3Crect x='100' y='100' width='35' height='35'/%3E%3Crect x='105' y='105' width='25' height='25'/%3E%3Crect x='110' y='110' width='15' height='15'/%3E%3Crect x='115' y='115' width='5' height='5'/%3E%3Crect x='80' y='160' width='35' height='35'/%3E%3Crect x='85' y='165' width='25' height='25'/%3E%3Crect x='90' y='170' width='15' height='15'/%3E%3Crect x='95' y='175' width='5' height='5'/%3E%3Crect x='120' y='160' width='75' height='75'/%3E%3Crect x='125' y='165' width='65' height='65'/%3E%3Crect x='130' y='170' width='55' height='55'/%3E%3Crect x='135' y='175' width='45' height='45'/%3E%3Crect x='140' y='180' width='35' height='35'/%3E%3Crect x='145' y='185' width='25' height='25'/%3E%3Crect x='150' y='190' width='15' height='15'/%3E%3Crect x='155' y='195' width='5' height='5'/%3E%3Crect x='160' y='40' width='75' height='75'/%3E%3Crect x='165' y='45' width='65' height='65'/%3E%3Crect x='170' y='50' width='55' height='55'/%3E%3Crect x='175' y='55' width='45' height='45'/%3E%3Crect x='180' y='60' width='35' height='35'/%3E%3Crect x='185' y='65' width='25' height='25'/%3E%3Crect x='190' y='70' width='15' height='15'/%3E%3Crect x='195' y='75' width='5' height='5'/%3E%3Crect x='160' y='120' width='35' height='35'/%3E%3Crect x='165' y='125' width='25' height='25'/%3E%3Crect x='170' y='130' width='15' height='15'/%3E%3Crect x='175' y='135' width='5' height='5'/%3E%3Crect x='200' y='200' width='35' height='35'/%3E%3Crect x='200' width='35' height='35'/%3E%3Crect y='200' width='35' height='35'/%3E%3C/g%3E%3C/svg%3E");
   /* background by SVGBackgrounds.com */
}