
@media screen and (min-width: 510px) {
  .about-header{
    padding-top: 75px;
  }

  .quote-btn,
  .desert-island-btn {
    top: 25px;
  }

  .quote-btn {
    right: 25px;
  }

  .desert-island-btn {
    left: 25px;
  }
}

@media screen and (min-width: 768px) {
  .top-heading {
    font-size: 2.5rem;
  }
  
  .nav-container {
    top: 0px;
    left: 0px;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 13px;
  }

  .brochure-heading {
    font-size: 2rem;
    max-width: 1024px;
  }

  .diagram {
    padding: 300px 0;
    /* border: 1px solid blue; */
  }
  
  .content {
    position: relative;
    /* border: 1px solid red; */
  }

  .center {
    position: relative;
    display: block;
    width: 77px;
    margin: auto;
    /* border: 1px solid red; */
  }

  .konector {
    position: absolute;
    display: block;
    width: 42px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 10, 0.03);
    z-index: -1;
  }

  .konector-1 {
    transform: rotate(-90deg);
    top: -30px;
    left: 15px;
  }

  .konector-2 {
    transform: rotate(-15deg);
    top: 15px;
    left: 77px;
    width: 62px;
  }

  .konector-3 {
    transform: rotate(55deg);
    top: 100px;
    left: 50px;
    width: 72px;
  }

  .konector-4 {
    transform: rotate(125deg);
    top: 100px;
    left: -50px;
    width: 72px;
  }

  .konector-5 {
    transform: rotate(195deg);
    top: 15px;
    left: -72px;
    width: 65px;
  }

  .diagram .home-profile-pic {
    display: block;
    margin: auto;
    border-radius: 50%;
    /* border: 1px solid lime; */
  }

  .center .my-logo {
    display: block;
    width: 75px;
    margin: 0;
    margin-left: -3px;
    padding: 0;
    background: none;
    border: none;
    filter: drop-shadow(1px 1px 1px rgba(255, 99, 71, 0.9));
  }

  .satellite {
    cursor: pointer;
    position: absolute;
    left: 50%;
    width: 250px;
    height: 245px; 
    padding-bottom: 5px;
    border-radius: 50%;
    overflow: hidden;
  }

  .satellite h3 {
    padding-bottom: 10px;
    border-radius: 5px 5px 0 0;
    transition: all 0.4s ease-in-out;
  }

  .expandable h3 {
    margin-bottom: 0px;
  }

  .satellite h4 {
    font-size: 1.25rem;
    margin-top: 60px;
    padding-bottom: 10px;
  }

  .satellite p {
    max-width: calc(100% - 50px);
    margin-bottom: 0;
  }

  .satellite ul {
    position: absolute;
    text-align: left;
    top: 125px;
    left: 125px;
    width: 0;
    height: 0;
    margin: auto;
    padding: 5px;
    padding-left: 25px;
    background:rgba(255, 255, 255, 0.7);
    border-radius: 0;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    overflow: auto;
  }

  @-moz-document url-prefix() {
    .satellite ul {
      background: rgba(255, 255, 255, 0.9);
    }
  }

  .expandable ul {
    padding-top: 0;
  }

  .expandable:active,
  .expandable:focus,
  .expandable:hover {
    border-radius: 4px;
  }

  .expanded-satellite {
    border-radius: 4px;
  }

  .expandable:active > ul,
  .expandable:focus > ul,
  .expandable:hover > ul {
    width: calc(100% - 35px);
    top: 50px;
    left: 0;
    width: 250px;
    height: 200px; 
    opacity: 1;
  }

  .expandable .expanded-ul {
    width: calc(100% - 35px);
    top: 50px;
    left: 0;
    width: 250px;
    height: 200px; 
    opacity: 1;
  }
  
  .team {
    top: -320px;
    margin-left: -125px;
    background-size: auto 100%;
  }

  .design {
    top: -150px;
    margin-left: -365px;
    background-size: auto 100%;
  }
  
  .development {
    top: -150px;
    margin-left: 110px;
    background-size: auto 100%;
  }
  
  .me {
    top: 115px;
    margin-left: -265px;
  }
  
  .my-projects {
    top: 115px;
    margin-left: 10px;
  }

  .projects-menu-wrapper {
    width: calc(100% - 300px);
    top: -44px;
    right: 0;
  }

  .project {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    max-width: 1024px;
    padding: 35px;
    margin-top: 25px
  }

  .projects-heading {
    font-size: 2rem;
    margin-top: 75px;
  }

  .project .project-title {
    order: 1;
  }

  .project .proj-short-description {
    order: 2;
  }

  .project .proj-link-wrapper {
    order: 3;
  }

  .project .proj-img-wrapper {
    order: 4;
  }

  .project .proj-detail-wrapper {
    order: 5;
  }

  .project .proj-desc-wrapper {
    order: 6;
  }

  .project:nth-of-type(even) .proj-img-wrapper {
    order: 5;
  }

  .project:nth-of-type(even) .proj-detail-wrapper {
    order: 4;
  }

  .project:nth-of-type(even) .proj-link-wrapper {
    padding-right: 34%;
  }

  .project-title {
    width: 100%;
  }

  .proj-link-wrapper {
    width: 100%;
    max-width: 900px;
    margin: 0 auto 15px;
    border: none;
  }

  .proj-link-wrapper a:after {
    content: " ";
    position: absolute;
    bottom: -57px;
    left: -5px;
    width: 115px;
    height: 125px;
    background: linear-gradient(to top, rgba(0, 0, 50, 0.7), transparent);
    transform: rotateX(-80deg); 
  }

  .proj-img-wrapper {
    margin-top: -70px;
    width: 28%;
  }

  .proj-img-box {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .project img {
    width: 175px;
    filter: drop-shadow(-7px 7px 2px rgba(0, 0, 50, 0.5));
    transition: 0.3s;
  }

  .project img:hover {
    border-bottom-color: rgba(0, 191, 255, 0.9);
  }

  .project img:hover {
    filter: drop-shadow(-10px 10px 5px rgba(0, 0, 50, 0.5));
  }

  .project:nth-of-type(even) img {
    filter: drop-shadow(7px 7px 2px rgba(0, 0, 50, 0.5));
  }

  .project:nth-of-type(even) img:hover {
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 50, 0.5));
  }

  .proj-detail-wrapper {
    width: 63%;
  }

  .project ul {
    max-width: 540px;
  }

  .modal img {
    min-width: 420px;
    filter: drop-shadow(0 0 0 transparent);
  }
  
  .modal button {
    top: 70px;
    right: 10px;
  }

  @keyframes closeBtnPulse {
    0% {filter: drop-shadow(0px 0px 0px rgba(255, 99, 71, 0.3));}
    50% {filter: drop-shadow(5px 5px 15px rgba(255, 99, 71, 0.3));}
    100% {filter: drop-shadow(0px 0px 0px rgba(255, 99, 71, 0.3));}
  }

  .modal button:hover {
    animation: none;
    filter: drop-shadow(2px 2px 3px rgba(255, 99, 71, 0.3));
  }

  .about-header{
    padding-top: 50px;
  }

  .about-menu {
    text-align: right;
    top: 0px;
    right: 0px;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 12px;
  }

  .about-menu a {
    text-align: center;
  }

  .quote-display {
    border-radius: 4px 4px 0 0;
  }

  .open-quote-box {
    top: 62px;
  }

  .citation {
    margin-right: 30px;
  }

  .desert-island-heading {
    max-width: 400px;
  }

  .quote-display .bio-heading {
    max-width: 400px
  }

  .bio,
  .contact {
    padding: 35px;
    border-radius: 4px 4px 0 0;
  }

  .bio ul {
    padding-left: 75px;
  }

  .exp-item {
    border-radius: 4px 4px 0 0;
    max-width: 778px;
    padding-top: 35px;
  }

  .exp-date,
  .exp-company,
  .exp-title {
    text-align: left;
    margin-left: 10px;
  }

  .prop-box {
    border-radius: 4px 4px 0 0;
  }

  .props-txt {
    max-width: 635px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 4px 4px 0 0;;
  }

  .banner {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background: rgba(0, 0, 10, 0.95);
    z-index: 99;
  }
}

@media screen and (min-width: 900px) {

  .bio {
    overflow: hidden;
  }

  .quote-btn,
  .desert-island-btn {
    top: 30px;
    width: 195px;
    height: 42px;
    border-radius: 0;
  }

  .quote-btn {
    right: -45px;
    transform: rotate(45deg);
  }

  .desert-island-btn {
    left: -45px;
    transform: rotate(-45deg);
  }
}

@media screen and (min-width: 945px) {
  .prop-box {
    min-width: 420px;
  }
}

@media screen and (min-width: 1024px) {

  .App-header-wrap {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: top;
    margin: auto;
    max-width: 1024px;
  }

  .App-header-wrap h1 {
    font-size: 2.5rem;
  }

  .home-name-box {
    text-align: left;
    width: 60%;
    padding: 30px 30px 0;
  }

  .home-header-logo-box {
    perspective: 600px;
    display: block;
    width: 25%;
    margin: 0 10px 0 0;
    padding-top: 42px;
  }

  .home-header-logo {
    width: 175px;
    height: 175px;
    margin: 0;
    padding: 0;
    background: none;
    filter: opacity(1) drop-shadow(1px 1px 1px rgba(0, 191, 255, 0.9));
    transform-style: preserve-3d;
    transform-origin: center;
    transform: rotateY(0deg);
    animation: logoFade 42s linear infinite;
  }

  @keyframes logoFade {
    0% {filter: opacity(1) drop-shadow(1px 1px 1px rgba(0, 191, 255, 0.9)); transform: rotateY(0deg)}
    25% {filter: opacity(0.1) drop-shadow(1px 1px 1px rgba(0, 191, 255, 0.9))}
    50% {filter: opacity(1) drop-shadow(1px 1px 1px rgba(255, 99, 71, 0.9))}
    75% {filter: opacity(0.1) drop-shadow(1px 1px 1px rgba(255, 99, 71, 0.9))}
    100% {filter: opacity(1) drop-shadow(1px 1px 1px rgba(0, 191, 255, 0.9)); transform: rotateY(360deg)}
  }

  .home-title-box {
    width: 100%;
    padding: 0 30px;
    /* border: 1px solid red; */
  }

  .home-profile-pic {
    display: block;
    border-radius: 50%;
  }

  .brochure-heading {
    font-size: 2.5rem;
  }

  .diagram {
    padding: 400px 0 275px;
  }

  .konector-1 {
    transform: rotate(-90deg);
    top: -44px;
    left: 0px;
    width: 72px;
  }

  .konector-2 {
    transform: rotate(-15deg);
    top: 15px;
    left: 77px;
    width: 160px;
  }

  .konector-3 {
    transform: rotate(55deg);
    top: 120px;
    left: 40px;
    width: 125px;
  }

  .konector-4 {
    transform: rotate(125deg);
    top: 120px;
    left: -95px;
    width: 125px;
  }

  .konector-5 {
    transform: rotate(195deg);
    top: 15px;
    left: -165px;
    width: 160px;
  }

  .satellite {
    width: 300px;
    height: 295px;
  }

  .satellite h4 {
    font-size: 1.35rem;
    margin-top: 75px;
  }

  .satellite p {
    margin-top: 42px;
  }

  .satellite ul {
    padding: 5px 10px 0px 5px;
  }

  .expandable:active > ul,
  .expandable:focus > ul,
  .expandable:hover > ul {
    width: calc(100% - 15px);
    height: 250px; 
  }

  .expandable .expanded-ul {
    width: calc(100% - 15px);
    height: 250px;
  }
  
  .team {
    top: -400px;
    margin-left: -150px;
  }

  .design {
    top: -300px;
    margin-left: -505px
  }
  
  .development {
    top: -300px;
    margin-left: 205px;
  }
  
  .me {
    top: 5px;
    margin-left: -385px;
  }
  
  .my-projects {
    top: 5px;
    margin-left: 75px;
  }


  .projects-menu-wrapper {
    width: 724px;
    right: auto;
    left: 50%;
    margin-left: -212px;
  }

  .projects-heading {
    width: calc(100% - 5px);
  }

  .project img {
    width: 200px;
  }

  .about-menu {
    text-align: center;
  }

  .nav-container {
    left: 50%;
    margin-left: -512px;
  }
}

@media screen and (min-width: 1140px) {

  .modal button {
    top: 10px;
    right: auto;
    left: 50%;
    margin-left: 520px;
  }
}
